body {
  font-family: Arial, sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp9093021.jpg");
}

.header {
  color: beige;
  padding: 50px;
  text-shadow: 1px 1px #5a1915;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  box-shadow: 1px 1px #854444;
  padding: 30px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
  margin: auto;
  align-items: center;
}

td, th {
  border: 1px solid #f8f2f2;
  text-align: left;
  padding: 8px;
}

th {
  text-shadow: 1px 1px #131111;
  background-color: #361616;
  width: 500px;
  opacity: 80%;
  color: #f1e8e8;
}

td {
  background-color: #fffbfb;
  width: 33px;
  opacity: 95%;
  vertical-align: top;
}

li {
  background-color: rgb(211, 209, 209);
  font-size: 15px;
  margin-top: 5px;
  padding: 5px;
  scroll-behavior: smooth ;
  list-style-type: none;

}

img {
  height: 600px;
  width: 400px;
}
p {
  background-color: #c5c1c1;
  font-size: 20px;
  height: 300px;
  width: 400px;
  padding: 15px;
}

.character-details {
  display: none;
  background-color: #831616;
  padding: 10px;
  margin-top: 30px;
}

.favorite-characters {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.character image {
  background-color: #259429;
  color: rgb(189, 30, 30);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.like-character {
  background-color: #5a1915;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#form { 
  padding: 80px 30px;
  margin : auto
}
.new-character {
  color: #ebe4e4;
  text-shadow: 1px 1px black;
}